.header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 60px;
  width: 100%;
  background: #333333;
  z-index: 1030;
  box-shadow: 0 0 15px 0px rgb(0 0 0)
}

.transparentHeader{
  background: transparent;
  box-shadow: none;
}

