.mainBlock{
    background-image: url("/src/common/img/contactsBack.jpg");
    background-position: center;
    background-repeat:no-repeat ;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 400px;
    z-index: 1;
}

.form div{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

.form input, .form textarea  {
    border: none;
    letter-spacing: 2px;
    color: #eee;
    background: rgba(139, 145, 150, 0.12);
    width: 100%;
    position: relative;
    height: auto;
    padding: 15px;
    box-shadow: none;
    font-family: "Raleway", sans-serif;
}

.form textarea {
    resize: none;
    height: 150px;
}

.form button {
    width: 100%;
    color: #fff;
    border: 0.5px solid #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    padding: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background: transparent;
    opacity: 0.65;
}

.form button:hover{
    background: #f7465b;
    color: #fff;
    border: 0.5px solid #f7465b;
}

@media screen and (max-width: 800px){
    .form{
        width: 95%;
    }
}