.title{
    font-size: 30px;
}
.whiteTitle{
    font-size: 30px;
    color: #fff;
}

.separator{
    position: relative;
    width: 70px;
    height: 3px;
    background: #f7465b;
    margin: 10px auto;
}

.header{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    margin-bottom: 60px;
    z-index: 1;

}

.itemTitle{
    margin: 0;
}

.itemSeparator{
    position: relative;
    width: 70px;
    height: 3px;
    background: #f7465b;
    margin: 10px 0;
}