@import "src/common/styles/sass/variables";

.mobileNav {
  min-height: 60px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  position: relative;
  @media screen and (min-width: 600px) {
    display: none;
  }

  .icon{
    width: 20px;
    height: 20px;
  }

  .openMenu{
    display: none;
    position: absolute;
    top: 20px;
    left: 90%;
    color: $primaryColor
  }

  .showOpenMenu{
    display: inline-block;
  }

  .navItems {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
    background: #333333;
    padding-inline-start: 0;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    .cancel{
      position: absolute;
      top: 20px;
      left: 90%;
      color: $primaryColor
    }

    .navBlock {
      height: 40px;
      display: inline;
      float: left;
      text-align: center;

      .link {
        text-decoration: none;
        color: $textColor;
        position: relative;
        top: 40%;

        &:hover::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 2px;
          background: $primaryColor;
          top: 100%;
        }
      }

      .activeLink {
        text-decoration: none;
        color: #ffffff;
        position: relative;
        top: 40%;

        &::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 2px;
          background: $primaryColor;
          top: 100%;
        }
      }
    }
  }
  .show{
    display: flex;
  }
}
