@import "src/common/styles/sass/mixins";

.skillsContainer {
  @include columnFlex(flex-start);

  .skills {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    @media only screen and (max-width: 750px) {
      align-items: flex-start;
    }
  }
}

