@import "src/common/styles/sass/mixins";
@import "src/common/styles/sass/variables";

.mainBlock {
  min-height: 100vh;
  padding: 80px 0 40px;
  box-sizing: border-box;

  .aboutContainer {
    @include columnFlex(flex-start);
    width: 60%;
    flex-wrap: wrap;
    @media screen and (max-width: 768px){
      width: 90%;
    }

    .aboutHeader {
      @include columnFlex(none);
      margin-bottom: 20px;
      @media screen and (max-width: 768px){
        margin-bottom: 70px;
      }

      .myPhoto {
        margin-bottom: 40px;

        img {
          max-width: 300px;
          border: 5px solid #eee;
          background: $primaryColor;
          padding: 5px;
          margin: 0 auto;
          box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 30%);
          border-radius: 50%;
        }
      }
      p{
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        line-height: 24px;
        font-size: 1.2em;
        letter-spacing: 2px;
        text-transform: capitalize;
        margin: 0 auto;
      }
    }
    .aboutMain{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      min-height: 40%;
      @media screen and (max-width: 768px){
        @include columnFlex(space-beetween)
      }
      .aboutMe{
        box-sizing: border-box;
        padding: 20px 20px 10px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media screen and (max-width: 768px){
          width: 90%;
          border: 1px solid $primaryColor;
          border-radius: 10px;
        }
        p{
          line-height: 20px;
        }
      }
      .personalInfo{
        @include columnFlex(none);
        .header {
          position: relative;
          min-height: 1px;
          padding: 0 15px;
          float: left;
          margin-bottom: 0;
          z-index: 1;
          .separator {
            position: relative;
            width: 70px;
            height: 3px;
            background: $primaryColor;
            margin: 10px auto;
          }
          .title{
            margin: 0;
          }

        }
        p{
        }
      }
    }
  }
}


.text {
  width: 300px;
  border: 1px solid;

}

@media only screen and (max-width: 750px) {
  .text {
    width: 100%;
  }
  .mainPhoto {
    width: 100%;
    height: 350px;
  }
}