.project{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.preview{
    height: 300px;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.previewWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    text-decoration: none;
}

.previewWrapper h4{
    color: #f7465b;
}

.button{
    background-color: #eeeef5;
    padding: 10px 20px;
}

.description{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 5px;
}