@import "src/common/styles/sass/variables";


.App {
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color:$headerColor ;
    margin-top: 0;
}

section {
    padding: 80px 0 40px;
}

span{
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
    color: $textColor;
    margin: 0 0 10px;
}