@import "src/common/styles/sass/variables";

.nav {
  display: flex;
  height: 100%;
  justify-content: center;
  margin-right: 300px;
  @media screen and (max-width: 750px) {
    margin: 0;
  }

  .navBlock {
    width: 100px;
    height: 100%;
    &:hover{
    color: $primaryColor;
    }
    @media screen and (max-width: 750px){
      width: 60px;
    }
    a {
      display:table-cell!important;
      vertical-align:middle;
      text-align: center;
      text-decoration: none;
      color: $textColor;
      height: 60px;
      width: 100px;
      @media screen and (max-width: 750px){
        width: 60px;
      }
    }
  }
}