.projectsContainer{
    align-items: center;
    flex-direction: column;
}

.projects{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}
