@import "src/common/styles/sass/mixins";

.projectsContainer {
  @include columnFlex(none);

  .projects {
    display: flex;
    width: 70%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    @media only screen and (max-width: 760px) {
      width: 100%;
    }
  }
}


